STORAGE_PROVIDER=MinIO-A

MINIO_ENDPOINT=http://localhost:19000
MINIO_ACCESS_KEY=minioadmin
MINIO_SECRET_KEY=minioadmin
MINIO_BUCKET=caise-storage

MINIO_B_ENDPOINT=http://localhost:19100
MINIO_B_BUCKET=caise-storage

DATABASE_HOST=localhost
DATABASE_PORT=5432
DATABASE_NAME=caise
DATABASE_USER=postgres
DATABASE_PASSWORD=yasaswini@27

REDIS_HOST=localhost
REDIS_PORT=6379
